html, body{ 
    font-family: 'Cabin', arial, serif;
} 

img.thumb {
    margin: 3px;
    width: 76px;
    height: 76px;
    border: 1px solid #efefef;
}
img.thumb_xsmall {
    margin: 3px;
    height: 22px;
    border: 1px solid #efefef;
    vertical-align: middle;
}
h1,h2,h3,h4 {
    color: #444444;
}

hr {
    border: 0; 
	background-color: #cdcdcd;	
	height: 1px;	
}

ul {
    list-style-type: none;
    
}

li {
    border-top: 1px solid #efefef;
    padding: 3px;
    margin: 2px 0;
}