#include "templates/base.tmpl"

#def body
    <h1>$title.replace('_', ' ')</h1>
    #if $files:
        <div id="photogrid">
        #for $file in $files:
            <a href="$file.preview_thumbnail"><img class="thumb" src="$file.large_thumbnail"/></a>
        #end for
        </div>
    #end if
    
    #if $folders:
        <ul>
        #for $folder in $folders:
            <li>
                <a href="/albums?root_id=$folder.id&username=$cuser['username']">$folder.name</a>
            </li>
        #end for
        </ul>
    #end if
    <hr/>
    <a href="/albums">Home</a>
#end def

#def extra_js
    <script>
        document.addEventListener('DOMContentLoaded', function(){    
            Code.photoSwipe('a', '#photogrid');
    
        }, false);
    </script>
    
#end def