#include "templates/base.tmpl"

#def body
    
    <h2>
    #if $title:
        $title.replace('_', ' ')
    #else
        Browse Folders
    #end if
    </h2>
    
    #if $files:
        <div id="photogrid">
        #for $file in $files:
            #if $file.file_type == $file.FILE_TYPE_IMAGE:
                <a class="photo" href="$file.preview_thumbnail"><img class="thumb" src="$file.large_thumbnail"/></a>
            #end if                
        #end for
        </div>
        
        <br/>
        <br/>
        <div>
        #for $file in $files:
            #if $file.file_type == $file.FILE_TYPE_VIDEO:
                <a href="/video?url=$file.download_link"><img class="thumb_xsmall" src="$file.large_thumbnail"/>$file.name</a><br/>
            #end if
        #end for
        </div>
    #end if
    
    #if $folders:
        <ul>
        #for $folder in $folders:
            <li>
                <a href="/albums?root_id=$folder.id&username=$cuser['username']">$folder.name</a>
            </li>
        #end for
        </ul>
    #end if
    
    
    <hr/>
    <a href="/albums">Home</a>
    #if $share_link:
        | <a href="$share_link">Download from Box</a> 
    #end if
#end def

#def extra_js
    <script>
        document.addEventListener('DOMContentLoaded', function(){    
            Code.photoSwipe('a.photo', '#photogrid');
    
        }, false);
    </script>
    
#end def