#include "templates/base.tmpl"

#def body
    <h2>Please Login..</h2>
    
    <p>
    <img src="http://code.google.com/apis/accounts/images/gaccounts.png">
    <br/><a href="/auth/login_google">Login using google</a>
    </p>
#end def

