#include "templates/base.tmpl"

#def body
    <div align=center>
        <img src="/static/img/simipic.jpg" style="width:200px;" alt="Main Grpahic"/>
        <h1>Welcome to Simipic!</h1>
        
        <h2>Simipic is a media browser for your <a href="http://box.net" target="_blank">Box.net</a> folders</h2>
        <p>
        
        <img src="http://code.google.com/apis/accounts/images/gaccounts.png">
        <br/><b><a href="/auth/login_google">Login using google</a></b>
        </p>
    </div>
#end def

