<html>
    <head>
        <title>$title</title>
        
        <script src="https://www.google.com/jsapi?key=ABQIAAAALk0wC29vdKjXJPF3KfQ7QRS7MhHE7T-bT5ZysBxHJXQXox59cRTKENpf3qu9gmFqY9BElUJgM3bKkw" type="text/javascript"></script>
        <script language="Javascript" type="text/javascript">
          google.load("jquery", "1.6.0");
          google.load("jqueryui", "1.8.12");
        </script>
    </head>
    
    <body>
        $body
    </body>

    
    <a href="/auth/logout">Log out</a><br/>
    <hr/>
    <p>
        <small>
            $cookies
        </small>
    </p>
    <hr/>
    
</html>
