#include "templates/base.tmpl"

#def meta
<META HTTP-EQUIV="Refresh" CONTENT="0; URL=/albums">
#end def
#def body
    Hello, $user.name
    
    <br><br>
    You are logged in!
    
    <a href="/albums">Go to albums</a>
    
    <br/>  
#end def

